<section class="w3l-servicesblock w3l-servicesblock1 py-5" id="progress">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-5 pe-lg-5">
                <h5 class="title-subw3hny mb-1">Büyüme Oranlarımız</h5>
                <h3 class="title-w3l">
                   Şirketimizin Hedeflerine Ulaşma Seviyelerini Görün
                </h3>
                <p class="mt-md-4 mt-3">
                    Her yıl bir önceki yıla göre daha da gelişiyoruz. Her seferinde büyüme oranlarımızı sizlerle paylaşıyoruz.
                </p>

            </div>
            <div class="col-lg-6 align-self pe-lg-4">
                <div class="progress-info info1">
                    <h6 class="progress-tittle">Modern Teknoloji <span class="">70%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2">
                    <h6 class="progress-tittle">
                        Vergi Çözümleri <span class="">80%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width:80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info3">
                    <h6 class="progress-tittle">Hızlı Destek <span class="">90%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>