@using RealHouzing.Consume.Models.AboutModels;
@model UpdateAboutViewModel
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="container">Hakkımızda Ekleme Sayfası</h1>

<br />
<form method="post" class="container">
    @Html.HiddenFor(x=>x.AboutID)
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Görsel URL</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Madde</label>
    <input type="text" asp-for="Item" class="form-control" />
    <br />
    <button class="btn btn-info">Güncelle</button>

</form>



