@using RealHouzing.Consume.Models.TestimonialModels;
@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h3 class="container">Referanslar</h3>
<br />
<br />
<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Unvan</th>

            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.NameSurname</td>
                <td>@item.Title</td>

                <td>
                    <a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger" id="DeleteBtn"
                       onclick="return confirm('Silmek istediğinize emin misiniz?');">
                        <i class="fas fa-trash">
                        </i>Sil
                    </a>
                </td>
                <td>
                    <a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">
                        <i class="fas fa-pencil-alt">
                        </i>Güncelle
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />
    <a href="/Testimonial/AddTestimonial" class="btn btn-outline-info">Yeni Referans Girişi</a>
</div>

