<section class="w3l-join-main py-5">
    <div class="container py-md-5">
        <div class="w3l-project-in">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="bottom-info">
                        <div class="header-section">
                            <h6 class="title-subw3hny mb-lg-2">Sitemizde hızlı bir tur atın </h6>
                            <h3 class="title-w3l two mb-2">
                                İstediğiniz yerde istediğiniz türde mülkleri hızlı ve kolayca arayıp bulun
                            </h3>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 align-self mt-lg-0 mt-3">
                    <p> Her türlü kiralık, satılık evler ve ister oda arkadaşı bulmak isterse evinizi paylaşmak için sitemizde her türden ilan bulabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>