<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1>
                <a class="navbar-brand" href="index.html">
                    Real<span class="sub-color">Housing</span>
                </a>
            </h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Default/Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Service/Index">Hizmetler</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index">İletişim</a>
                    </li>
                </ul>
                <!--/search-->
                <button id="trigger-overlay" class="searchw3-icon me-xl-4 me-lg-3" type="button"><i class="fas fa-search"></i></button>
                <!-- open/close -->
                <div class="overlay overlay-slidedown">
                    <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                    <nav class="w3l-formhny">
                        <h5 class="mb-3">Search here</h5>
                        <form action="#" method="GET" class="d-sm-flex search-header">
                            <input class="form-control me-2" type="search" placeholder="Aranacak Kelime..." aria-label="Search" required>
                            <button class="btn btn-style btn-primary" type="submit">Ara</button>
                        </form>
                    </nav>
                </div>
                <!--//search-->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>