<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-3 sub-one-left">
                        <h6>Hakkımızda </h6>
                        <p class="footer-phny pe-lg-5">Siz de sitemizdeki ayrıcalıklardan faydalanın ve o hayalinizi kurduğunuz eve hiç yorulmadan sahip olun. Ev almak hiç bu kadar kolay olmamıştı.</p>
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Şirketimiz</h6>
                        <ul>

                            <li>
                                <a href="#why"><i class="fas fa-angle-right"></i> Neden Biz?</a>
                            </li>
                            <li>
                                <a href="#licence">
                                    <i class="fas fa-angle-right"></i>Çalışanlarımız
                                </a>
                            </li>
                            <li>
                                <a href="#log">
                                    <i class="fas fa-angle-right"></i>Tekliflerimiz
                                </a>
                            </li>

                            <li><a href="#career"><i class="fas fa-angle-right"></i> Kariyer İmkanı</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Hizmetler</h6>
                        <ul>
                            <li>
                                <a href="#processing"><i class="fas fa-angle-right"></i> Mülk Satın Alın</a>
                            </li>
                            <li>
                                <a href="#research"><i class="fas fa-angle-right"></i> Mülk Satın</a>
                            </li>
                            <li>
                                <a href="#metal"><i class="fas fa-angle-right"></i> Mülk Kiralayın</a>
                            </li>
                            <li>
                                <a href="#metal"><i class="fas fa-angle-right"></i> Mülk Arayın</a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Keşfedin</h6>
                        <ul>
                            <li>
                                <a href="#processing"><i class="fas fa-angle-right"></i> Kiralık Müstakil Evler</a>
                            </li>
                            <li>
                                <a href="#research"><i class="fas fa-angle-right"></i> Kiralık Daireler</a>
                            </li>
                            <li>
                                <a href="#metal"><i class="fas fa-angle-right"></i> Satılık Müstakil Evler</a>
                            </li>
                            <li>
                                <a href="#metal"><i class="fas fa-angle-right"></i> Satılık Daireler</a>
                            </li>


                        </ul>
                    </div>
                    @await Html.PartialAsync("~/Views/Default/Subscribe.cshtml")
                </div>
            </div>
            <div class="below-section mt-5 pt-lg-3">
                <div class="copyright-footer">
                    <div class="columns text-left">
                        <p>
                            © @DateTime.Now.Year RealHousing.Tüm Hakları Saklıdır. Tasarım: <a href="https://w3layouts.com/" target="_blank">
                                W3Layouts
                            </a>
                        </p>
                    </div>
                    <ul class="footer-w3list text-right">
                        <li>
                            <a href="#url">Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="#url">Şartlar &amp; Koşullar</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
</footer>