@using RealHouzing.Consume.Models.ProductModels;
@model UpdateProductViewModel
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>İlan Güncelleme Sayfası</h1>

<br />
<form method="post" class="container">
    @Html.HiddenFor(x=>x.ProductID)
    <label>İlan Başlığı</label>
    <input type="text" asp-for="ProductTitle" class="form-control" />
    <br />
    <label>Fiyatı</label>
    <input type="text" asp-for="ProductPrice" class="form-control" />
    <br />
    <label>İlan Türü</label>
    <input type="text" asp-for="ProductType" class="form-control" />
    <br />
    <label>İlan Adresi</label>
    <input type="text" asp-for="ProductAddress" class="form-control" />
    <br />
    <label>Yatak Odası Sayısı</label>
    <input type="text" asp-for="BedroomCount" class="form-control" />
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="BathCount" class="form-control" />
    <br />
    <label>Metrekare Bilgisi</label>
    <input type="text" asp-for="Square" class="form-control" />
    <br />
    <label>İlan Görsel URL</label>
    <input type="text" asp-for="ImageURL" class="form-control" />
    <br />
    <label>Kategori ID</label>
    <input type="text" asp-for="CategoryID" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Kaydet</button>

</form>

