@using RealHouzing.Consume.Models.PostingModels;
@model List<PostingViewModel>
<section class="w3l-passion-mid-sec py-5 pt-0">
    <div class="container py-md-5 py-3 pt-0">
        <div class="container">
            @foreach(var item in Model){
            <div class="row w3l-passion-mid-grids">
                <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">
                    <h6 class="title-subw3hny mb-1">Mülklerinizi yayınlayın</h6>
                    <h3 class="title-w3l mb-4">@item.Title</h3>
                    <p class="mt-3 pe-lg-5">
                        @item.Description
                    </p>
                    <div class="w3banner-content-btns">
                        <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Ücretsiz İlan Ver <i class="fas fa-angle-double-right ms-2"></i></a>

                    </div>
                </div>
                <div class="col-lg-6 passion-grid-item-info">
                    <img src="@item.ImageURL" alt="" class="img-fluid radius-image">
                </div>
            </div>
            }
        </div>
    </div>
</section>