<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title mt-sm-5 mt-4">
                        Hizmetler
                    </h2>

                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Hizmetler </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>