<section class="w3l-pricing-sec py-5" id="pricing">
    <div class="container py-md-5 py-2">
        <div class="heading text-center mx-auto">
            <h6 class="title-subw3hny mb-1">Ödeme Türleri</h6>
            <h3 class="title-w3l mb-2">Hizmet Planlarımız</h3>
        </div>
        <div class="row pricing-main-grids">
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header text-center">
                        <div class="price-icon">
                            <i class="fas fa-home mt-0"></i>
                        </div>
                        <h4>Kişisel</h4>
                        <p class="pb-3">Ücretsiz</p>
                    </div>
                    <div class="pricing-body pt-3 text-center">
                        <p>10 İlan Verme <br>2 Öne Çıkan İlan Verme</p>
                        <div class="pricing-get-button mb-2">
                            <a href="contact.html" class="btn btn-style btn-primary d-block mt-4">
                                Planı Seç <span class="fas fa-angle-double-right ms-2"></span>
                            </a>
                        </div>
                        <p class="subtitle">10% geri ödeme garantisi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf active">
                    <div class="pricing-header text-center">
                        <div class="price-icon">
                            <i class="far fa-building mt-0"></i>
                        </div>
                        <h4>Profesyonel</h4>
                        <p class="pb-3">49.99 ₺/6 Aylık</p>
                    </div>
                    <div class="pricing-body pt-3 text-center">
                        <p>20 İlan Verme <br>5 Öne Çıkan İlan Verme</p>
                        <div class="pricing-get-button mb-2">
                            <a href="contact.html" class="btn btn-style btn-primary d-block mt-4">
                                Planı Seç <span class="fas fa-angle-double-right ms-2"></span>
                            </a>
                        </div>
                        <p class="subtitle">20% geri ödeme garantisi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pricing-main-grid mt-sm-5 mt-4">
                <div class="w3-pricing-inner-inf">
                    <div class="pricing-header text-center">
                        <div class="price-icon">
                            <i class="fas fa-building mt-0"></i>
                        </div>
                        <h4>Premium</h4>
                        <p class="pb-3">99.99 ₺/1 Yıllık</p>
                    </div>
                    <div class="pricing-body pt-3 text-center">
                        <p>30 İlan Verme <br>10 Öne Çıkan İlan Verme</p>
                        <div class="pricing-get-button mb-2">
                            <a href="contact.html" class="btn btn-style btn-primary d-block mt-4">
                                Planı Seç <span class="fas fa-angle-double-right ms-2"></span>
                            </a>
                        </div>
                        <p class="subtitle">25% geri ödeme garantisi</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>