<section class="w3l-join-main py-5">
    <div class="container py-md-5">
        <div class="w3l-project-in">
            <div class="bottom-info text-center pb-lg-5">
                <div class="header-section pe-lg-5">
                    <h6 class="title-subw3hny mb-2">Bize Katılın</h6>
                    <h3 class="title-w3l two mb-2">
                        Siz de Bizimle Çalışın
                    </h3>
                    <p class="mb-2">Sadece dünyadaki en iyi şirketlerle çalışıyoruz.</p>
                    <div class="w3banner-content-btns pb-5 pb-5">
                        <a href="about.html" class="btn btn-style btn-primary mt-4">Devamını Oku <i class="fas fa-angle-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
