<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-md-4">
        <div class="w3l-stats-inner-inf">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">@ViewBag.v1 </p>
                    <h3>Hizmet Sayısı</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">@ViewBag.v2 </p>
                    <h3>Satılık Emlak Sayısı</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                    <p class="counter">@ViewBag.v3 </p>
                    <h3>Kiralık Emlak Sayısı</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                    <p class="counter">@ViewBag.v4</p>
                    <h3>Referanslarımız</h3>
                </div>

            </div>
        </div>
    </div>
</section>