<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-md-4">
        <div class="w3l-stats-inner-inf">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">2500 </p>
                    <h3>Completed Properties</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">1500 </p>
                    <h3>Property Sales</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                    <p class="counter">1280 </p>
                    <h3>Appartment Rent</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-4">
                    <p class="counter">3020</p>
                    <h3>Happy Clients</h3>
                </div>

            </div>
        </div>
    </div>
</section>