@using RealHouzing.Consume.Models.BlogModels;
@model List<BlogViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h3 class="container">Blog Yazılarımız</h3>
<br />
<br />
<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Yazar</th>
            <th>Başlık</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Writer</td>
                <td>@item.Title</td>
                <td>
                    <a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-outline-danger" id="DeleteBtn"
                       onclick="return confirm('Silmek istediğinize emin misiniz?');">
                        <i class="fas fa-trash">
                        </i>Sil
                    </a>
                </td>
                <td>
                    <a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-outline-success">
                        <i class="fas fa-pencil-alt">
                        </i>Güncelle
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />
    <a href="/Blog/AddBlog" class="btn btn-outline-info">Yeni Blog Girişi</a>
</div>

