<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Emlakçılık bizim yaşam biçimimiz.</p>
                        <h3 class="title-hero-19">Yeni Yaşam alanlarınızı oluşturun.</h3>
                        <a href="about.html" class="btn btn-style btn-primary mt-4">Devamını Oku <i class="fas fa-angle-double-right ms-2"></i></a>

                    </div>
                </div>
            </div>
        </div>


    </div>


</section>