@using RealHouzing.Consume.Models.CategoryModels;
@model AddCategoryViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Kategori Ekleme Sayfası</h1>

<br />
<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control"/>
    <br />
    <button class="btn btn-outline-info">Kaydet</button>

</form>

